:root {
  --font-size-l: 3rem;
  --font-size-m: 1.3rem;
  --font-size-s: 1.2rem;
  --font-size-xs: 1rem;
  --text-color: #1a1a1a;
  --main-brand-color: #00b172;
}

html {
  font-family: sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
  margin: auto;
}

.logo-and-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0.1rem;
  padding: 1rem;
  position: sticky;
}

.navigation-logo {
  height: 25px;
}

.navigation-bar {
  display: flex;
  font-size: var(--font-size-xs);
}

.__navigation-options {
  list-style: none;
  display: flex;
}

.__navigation-item {
  text-decoration: none;
  color: var(--text-color);
  margin: 10px;
}

.__navigation-item:hover {
  color: var(--main-brand-color);
}

.main-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0, 0;
  color: #fff;
}

.main-heading {
  margin: 0 auto 10px;
  text-align: center;
  font-size: var(--font-size-l);
  font-weight: 600;
}

.introduction-text {
  width: 40%;
  text-align: center;
  line-height: 1.4em;
  font-size: var(--font-size-xs);
}

@media (max-width: 640px) {
  .header {
    min-width: 420px;
    margin: auto;
  }
  .main-text-wrapper {
    height: 200px;
  }
  .introduction-text {
    width: 70%;
  }
}

@media (min-width: 640px) {
  .header {
    max-width: 700px;
    margin: auto;
  }
  .main-text-wrapper {
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .header {
    max-width: 1000px;
    margin: auto;
  }
  .main-text-wrapper {
    height: 600px;
  }
}

@media (min-width: 1536px) {
  .header {
    max-width: 1200px;
    margin: auto;
  }
  .main-text-wrapper {
    height: 750px;
  }
}
